nav{
    display: flex;
    width: 100%;
    text-align: center;
 
    margin-left: 33%;
    word-spacing: 200px;
}
nav a{
    text-decoration: none;
    font-family:"Oswald", sans-serif;
    font-size: 22px;
    color: orange;
}
nav a:hover{
    color: #FFFFFF;
}
body{
    min-height: 100vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1)), url('manage.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
.ara-travel{
    padding: 10px;
    margin-left: 13%;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.ara-travel h3{
    color: rgb(255, 255, 255);
}
.ara-travel p{
    color: orange;
    display: inline-block;
    font-size: 18px;
}
.instructions{
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    margin-top: 1%;
    font-weight: bolder;
    font-style: normal;
    background-color: transparent;
    color: rgb(255, 255, 255);
    padding: 5px 0px 5px 0px;
    word-spacing: 12px;
    letter-spacing: 4px;
}
form{
    margin-left: 4%;
    display: flex;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    color: #FFFFFF;
    font-size: 32px;
    background-color: rgba(0, 0, 0, 0.185);
}
.first{
    margin-top: 12%;

}
.second{
    margin-top: 12%;
    padding-left: 30px;
    padding-right: 5px;
}

/* CSS */
.button-63 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-63:active,
.button-63:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-63 {
    font-size: 24px;
    min-width: 196px;
  }
}
.button{
    margin-top: 25%;
}
.passport ,.ticket{
    width: 200px;
    height: 30px;
    font-size: 24px;
    background-color:transparent;
    border-radius: 45px;
    border-color: #FFFFFF;
    color: #ffffff;
}
.ara-travel a{
    text-decoration: none;
    color: #ffffff;
    font-size: 44px;
    font-family: "Oswald", sans-serif;
    margin-left: 20%;
    display: inline-block;
}
.ara-travel a:hover{
    letter-spacing: 3px;
    color:green;
    transition:0.6s;
    font-size: 46px;
}
.passport:hover,.ticket:hover{
    border-color: orange;
}